// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	position: relative;
	width: 960px;
	height: 500px;
	background-color: green;
}

.content>li{
	position: absolute;
	display: inline-block;
	background-color: orange;
	margin: 10px;
	li{
		list-style: none;
	}
}